body {
    background-image: linear-gradient(90deg, #5DE0E6, #004aad);
}

* {
    margin: 0;
}

header {
    text-align: center;
    background-color: #008CFF;
    height: 200px;
    justify-content: center;
    color: #00035A;
    font-size: 100px;
    padding-bottom: 50px;
    position: relative;
    overflow: hidden;
}

h2 {
  color: #00035A;
  font-size: 38px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #003682;
    border: 1px solid black
  }

  .nav {
    float: left !important;
    font-size: 38px !important;
    border: 1px solid black !important;
  }
  
  li {
    font-size: 30px;
    color: #00035A;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 125.91px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #4CB7FF;
  }

  img {
    width: 60%;
    height: 60%;
    object-fit: cover;
}

  #gallery-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 100px;
  max-width: 100vw;
  padding: 10px;
  border-radius: 5px;
}

  #gallery-container img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 20px;
  transition: transform 1.5s ease;
  filter: grayscale(50%) contrast(80%) brightness(0.9);

}

  #gallery-container img:hover {
  transform: scale(1.050);
  filter: none;
}

  #gallery-container figure {
  margin: 0;
  text-align: center;
}

  .active {
  background-color: #0014FF
}
  
  .bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}